* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fbbc04;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-decoration: none;
}

li {
  padding: 3px;
}

li a {
  text-decoration: none;
  color: black;
}

img {
  width: 150px;
  height: 150px;
}
