/* Début section 1 : barre de recherche + bannière*/

* {
    box-sizing: border-box;
}

@media screen and (max-width: 360px) {
    input.searchBar {
        font-size: 8px;
        background-size: cover;
    }

    .searchBarAndBanner>div:first-child {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 360px) {
    .searchBarDeux {
        display: none;
    }
}

@media screen and (min-width: 360px) {
    .parent2 {
        display: none;
    }
}

div.searchBarLoupe {
    max-height: 1em;
}

img.loupe {
    height: 0.7em;
}

.firstbar {
    display: none;
}

.searchBarAndBanner {
    width: 70%;
    height: 40%;
    margin: auto auto;
    text-align: center;
}

.searchBarLoupe {
    height: 5vh;
    min-height: 1em;
    max-height: 1.5em;
    display: flex;
    margin: 0% 30%;
    border: 0.063em solid lightgrey;
    border-radius: 3em;
    padding-left: 1em;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25),
        0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.searchBar {
    margin: 0;
    width: 95%;
    border-radius: 2.813em;
    height: 100%;
    font-size: 70%;
    color: gray;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 0.188em;
    padding-left: 0.5em;
}

input::placeholder {
    color: lightgrey;
}

input:focus {
    outline: none;
}

button {
    display: flex;
    padding: 0;
    background-color: white;
    border: none;
    height: 100%;
}

.loupe {
    height: 1em;
    margin: auto 0;
    text-align: center;
}

.banner {
    width: 70%;
    margin: 0.188em auto;
}

.parent {
    position: relative;
}

.searchBarDeux {
    position: absolute;
    margin-left: 15%;
    margin-top: 10%;
    width: 70%;
}

/* Fin section 1 : barre de recherche + bannière*/